.side-bar {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: minmax(91px, auto) auto;
	column-gap: 40px;
}

.navigation-bar {
	grid-row: 2 / -1;
}

.detail {
	grid-column: 2 / -1;
	grid-row: 1 / -1;
}
