.connect-4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.insert-row {
		width: fit-content;
		height: 50px;
		display: grid;
		grid-template-columns: repeat(7, 50px);
		column-gap: 10px;
		padding: 10px;

		.insert-cell {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			outline: unset;
			border: unset;
			padding: 0;
			transition: transform 0.2s, box-shadow 0.2s;

			&:not(:disabled):hover {
				transform: scale(1.1);
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
			}

			&:not(:disabled):active {
				transform: scale(0.9);
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			}

			svg {
				width: 50px;
				height: 50px;
			}
		}
	}

	.c4-board {
		width: fit-content;
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		padding: 10px;
		background-color: #2f6db4;

		.c4-row {
			display: grid;
			grid-template-columns: repeat(7, 50px);
			column-gap: 10px;

			.c4-cell {
				width: 50px;
				height: 50px;
				background-color: var(--paper-bg-color);
				border-radius: 50%;
			}

			.red-checker {
				background-color: #d23d32;
			}

			.yellow-checker {
				background-color: #fae04c;
			}

			.pulse {
				animation: pulse 0.8s infinite ease-in-out alternate;
			}
		}
	}
}

@keyframes pulse {
	from {
		transform: scale(0.9);
	}
	to {
		transform: scale(1.1);
	}
}
